<h1 class="title"><a class="taunt" href="/">Taunt</a></h1>
<div class="bs-component">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="/upload"><i class="fa fa-plus"></i></i> Nouveau taunt</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>

        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <li><a href="/login"><i class="fa fa-sign-in"></i></a></li>
        {% endif %}
        </ul>

      <div class="navbar-header">
        <div class="searchbar">
          <input type="text" id="search" name="search" value="" placeholder="Rechercher un taunt">
            <a href="#" id="searchUrl" onclick="searchUrl()"><i class="fa fa-search"></i></a>
        </div>
      </div>

      </div>
    </div>
  </nav>
</div>

<script>
  document.getElementById('search').addEventListener('change',prepareUrl,false);

  var searchValue = "";

  function prepareUrl(event) {
    searchValue = this.value;
    return searchValue;
  }

  function searchUrl() {
    document.getElementById("searchUrl").href="/search/" + searchValue; 
  }

</script>
