{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid" style="margin-top:3%;">
  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      {% for sound in sounds %}
          <p>{{sound.name}}</p>
          <audio controls>
            <source src="uploads/sounds/{{sound.path}}" type="audio/mpeg">
          </audio>

      {% endfor %}
    </div>

    <div class="col-sm-4"></div>
  </div>

</div>



{% endblock %}
